.pages {
  display: flex;
  justify-content: center;
  font-size: 24px;

  &__link {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 5px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;

    &--active {
      background-color: #38B46C;
    }
  }
}